:host {
  display: block;
  padding: 10px;
  height: 100%;
  width: 100%;

  .grid-stack {
    background: #e4e4e4;
    height: 100%;
    width: 100%;

    border: solid 1px #cdcdcd;

    border-radius: 10px;
  }
}
