@import "gridstack/dist/gridstack.min";
@import "gridstack/dist/gridstack-extra.min";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.grid-stack-item-content {
  background-color: #18bc9c;
  border-radius: 10px;
  padding: 10px;
}
